<div class="full-screen splash slate bg-img row">
    <div class="checkout container">
        <h1>Checkout</h1>
        <form ng-hide="formSubmitted" ng-submit="checkoutSubmit()" method="post">
            <div class="form-group">
                <label for="street-address">Street Address:</label>
                <input id="street-address" class="form-control" ng-model="streetAddress" type="text" name="street-address" required>
            </div>
            <div class="form-group">
                <label for="city">City:</label>
                <input id="city" class="form-control" ng-model="city" type="text" name="city" required>
            </div>
            <div class="form-group">
                <label for="state">State:</label>
                <input id="state" class="form-control" ng-model="state" type="text" name="state" required>
            </div>
            <div class="form-group">
                <label for="post-code">Postal Code:</label>
                <input id="post-code" class="form-control" ng-model="postCode" type="text" name="post-code" required>
            </div>
            <div class="form-group">
                <label for="country">Country:</label>
                <input id="country" class="form-control" ng-model="country" type="text" name="country" required>
            </div>
            <div class="btn-div">
                <button class="btn btn-primary" type="submit">Proceed</button>
            </div>
        </form>
        <div class="confirmDetails" ng-show="formSubmitted">
            <h3 class="font300">Confirm details:</h3>
            <h4 class="fields">Address: <span class="font400">{{streetAddress}}</span></h4>
            <h4 class="fields">City: <span class="font400">{{city}}</span></h4>
            <h4 class="fields">State: <span class="font400">{{state}}</span></h4>
            <h4 class="fields">Zip: <span class="font400">{{postCode}}</span></h4>
            <h4 class="fields">Country: <span class="font400">{{country}}</span></h4>
            <h4 class="fields">Order total: <span class="font400">{{total | currency}}</span></h4>
            <button ng-click="confirmCheckout()" class="btn btn-success">Place order</button>
            <button ng-click="formSubmitted = false;" class="btn btn-default">Change information</button>
        </div>
    </div>
</div>
