<div class="full-screen splash plate row">
    <div class="logo">
        <h1>Jamón</h1>
        <img src="img/site/jamon_icono.svg"/>
        <h1>Depot</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="product-list" ng-repeat="item in results" {{$index + 1}}>
            <div class="clearfix" ng-if="$index % 2 === 0"></div>
            <div class="product col-xs-6">
                <a ui-sref="product_details({product_id: item.id})">
                    <h3>{{item.name}}</h3>
                    <img ng-src="/img/products/{{item.image_path}}" />
                </a>
            </div>
        </div>
    </div>
</div>
