<div class="full-screen splash plate bg-img row">
    <div class="logo">
        <h1>Jamón</h1>
        <img src="img/site/jamon_icono.svg"/>
        <h1>Depot</h1>
    </div>
</div>
<div class="photo-barrier"></div>
<div class="full-screen splash leg bg-img row">
    <div class="container about">
        <h1>ABOUT</h1>
        <p>Bacon ipsum dolor amet hamburger sausage pancetta ea swine. Jowl anim pork, hamburger pork belly cupim shankle labore ea brisket ullamco. Biltong beef tenderloin, voluptate cow duis commodo ex short loin alcatra est salami beef ribs fugiat. Cupidatat bresaola sunt corned beef short loin. Ipsum swine fugiat, laboris aliqua mollit commodo adipisicing picanha elit. Flank pastrami ut, nostrud rump ribeye shankle pariatur officia beef culpa. Excepteur ex in magna sed incididunt cillum fugiat ribeye.</p>
        <p>Cupidatat tail aliquip, laboris sirloin voluptate ham hock alcatra cupim tri-tip salami elit non. Beef jerky cupidatat aliqua, leberkas pork chop et ut ex. Corned beef salami laborum ut ham hock sint, reprehenderit biltong ground round strip steak. Brisket ut swine non strip steak chicken ex, in reprehenderit boudin. Meatball pig voluptate, minim prosciutto shoulder tongue ut. Voluptate tenderloin pastrami consectetur, nulla commodo dolor boudin tongue ground round elit.</p>
    </div>
</div>
