<div class="full-screen splash tapa_sherry row">
    <div class="container login">
        <h1>LOG IN</h1>
        <form method="post" ng-submit="login()">
            <div class="form-group">
                <label for="username">Username:</label>
                <input id="username" class="form-control" ng-model="username" type="text" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input id="password" class="form-control" ng-model="password" type="password" name="password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <div ng-show="wronglogin">Either your username or password is borked</div>
        </form>
    </div>
</div>
