<div class="full-screen splash tapa-breadsticks bg-img row">
    <div class="container signup">
        <div class="row">
            <h1>SIGN UP</h1>
            <h3 class="center">Already have an account? <a ui-sref="login" class="white underline">Log in</a>.</h3>
        </div>
        <form ng-submit="signupSubmit()" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input id="username" class="form-control" ng-model="username" type="text" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" class="form-control" ng-model="email" type="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="first-name">First name:</label>
                <input id="first-name" class="form-control" ng-model="firstName" type="text" name="first-name" required>
            </div>
            <div class="form-group">
                <label for="last-name">Last name:</label>
                <input id="last-name" class="form-control" ng-model="lastName" type="text" name="last-name" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input id="password" class="form-control" ng-model="password" type="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm password:</label>
                <input id="confirm-password" class="form-control" ng-model="confirmPassword" type="password" name="confirmPassword" required>
            </div>
            <div ng-show="formError">{{errorMessage}}</div>
            <div class="btn-div">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>
