<div nav-offset class="container">
    <div class="view-cart row">
        <div class="row">
            <h1>View cart</h1>
        </div>
        <div class="row split">
            <a ui-sref="products" class="btn btn-default">Continue shopping</a>
            <a ui-sref="checkout" class="split-right btn btn-default">Checkout</a>
        </div>
        <div class="row price">
            <h4>{{total | currency}}</h4>
        </div>
        <ul class="cart row">
            <li ng-repeat="item in cart" class="col-xs-12 product">
                <a ui-sref="product_details({product_id: item.product_id})">
                    <h3>{{item.name}}</h3>
                    <h4>{{item.price | currency}}</h4>
                    <img ng-src="/img/products/{{item.image_path}}">
                </a>
            </li>
        </ul>
    </div>
</div>


<!-- add a remove item option to the cart -->
<!-- responsive -->
<!-- make sure all is good -->
