<div nav-offset class="container">
    <div class="view-cart row">
        </div>
            <h1>View cart</h1>
            <h4>Total price: {{total}}</h4>
            <a ui-sref="view_cart">Continue shopping</a>
            <a ui-sref="checkout">Checkout</a>
            <ul class="cart">
                <li ui-sref="product_details({product_id: item.product_id})" ng-repeat="item in cart">
                    <h3>{{item.name}}</h3>
                    <h5>Price: {{item.price}}</h5>
                    <img ng-src="/img/products/{{item.image_path}}">
                </li>
            </ul>
        </div>
    </div>
</div>
